<div class="top-container">
<h1> welcome to<br>
	<strong><span class="glyphicon glyphicon-book" aria-hidden="true"> </span>Bookers</strong>  !! </h1>
<p> In <strong> <span class="glyphicon glyphicon-book" aria-hidden="true"> </span>Bookers</strong>,</p>
	<p>you can share and exchange your opinions, inpressions, and emotions</p>
	<p>about varioius books!
</p>

<%= link_to new_user_session_path, class: "sign_in" do %>
<button class="btn btn-info" style= "width: 100%;" >Log in</button>
<% end %><br>
<%= link_to new_user_registration_path, class: "sign_up" do %>
<button class="btn btn-success" style= "width: 100%;" >Sign Up</button>
<% end %>
</div>